.navibar-container {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(76, 79, 94);
}

#link {
  font-size: 20px;
  margin: 0px 20px;
  text-decoration: none;
}


#link:link, #link:visited {
  color: white;
}

#link:hover {
  color: rgb(0, 162, 255);
}
